<mat-toolbar class="tl-start-header">
  <button mat-button matTooltip="Show all tutorials"(click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img class="tl-logo" src="assets/logo.svg" alt="Links Logo">
  <div class="tl-header-name">TryLinks Interactive Shell</div>
  <div class="tl-expander"></div>
  <button mat-button color="primary" class="tl-tutorial-button">Dashboard</button>
  <button mat-button color="primary" class="tl-interactive-button">Interactive</button>
  <button mat-button color="primary" class="tl-logout-button">Log out</button>
</mat-toolbar>

<mat-drawer-container class="tl-tutorial-container" autosize>
  <mat-drawer #drawer class="tl-tutorial-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="tl-tutorial-content">
      <div class="tl-tutorial-main-desc markdown-body" #description></div>

      <div class="tl-tutorial-main-col">
        EDITOR
          <textarea class="tl-tutorial-main-editor CodeMirror-scroll"></textarea>
          <div class="tl-tutorial-main-render-control">
              <!-- <pre class="tl-tutorial-main-render-error">{{compileError}}</pre> -->
              <button mat-raised-button color="primary" class="tl-compile-btn">Save and Compile</button>
          </div>
      </div>

      <div class="tl-tutorial-main-render">
        RENDER
          <!-- <div *ngIf="port == null" class="tl-tutorial-main-render-empty">
              <h2>Preview Page</h2>
              <p>When you are happy with your Links code, <br>press the "Compile" button below and see the web page generated!</p>
          </div>
          <iframe *ngIf="port != null" [src]="renderUrl" height="100%" width="100%" onload="return false;" frameborder="0"></iframe> -->
      </div>
  </div>

</mat-drawer-container>
